:root {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.fullscreen {
    height: 100vh;
}

.outer-container {
    display: flex;
}

.sidebar {
    background-image: url(./images/anne-nygard-ChKVvRDbqew-unsplash.jpg);
    background-size: cover;
    width: 35%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Alex Brush', handwriting;
    color: white;
    font-size: 4.5rem;
    background-color: rgba(156, 156, 156, 0.5);
    margin: 30vh 0;
    padding: 0 15%;
    text-align: center;
}

.credit {
    color: white;
    font-size: 0.8rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2vh 2vw;
}

.credit a {
    color: white;
}

.main-content {
    box-sizing: border-box;
    width: 65%;
    background-color: rgb(250, 250, 250);
}

.main-content .content-description {
    margin: 15vh 5vw 5vh;
}

.main-content p,
form .header {
    font-size: 1.5rem;
}

form {
    padding: 20px 5vw;
    box-shadow: rgba(156, 156, 156) 1px 1px 5px;
    background-color: white;
}

form .header {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 22px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field > label {
    text-transform: uppercase;
    color: rgba(156, 156, 156);
    font-size: 0.9rem;
    margin-bottom: 7px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 10px;
    font-size: 1.2rem;
    background-color: rgb(250, 250, 250);
    width: 250px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border-color: forestgreen;
    outline: none;
    box-shadow: rgba(156, 156, 156) 1px 1px 5px;
}

.main-content .button-container,
.main-content .login-link {
    padding-left: 5vw;
    margin-top: 30px;
}

button {
    font-size: 1.2rem;
    border-style: none;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: forestgreen;
    color: white;
    box-shadow: rgba(156, 156, 156) 1px 1px 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
    color: white;
}

.login-link a {
    color: forestgreen;
    text-decoration: none;
    font-weight: 700;
}

.login-link a:hover {
    color: darkgreen;
}

#password + span,
#passwordConfirm + span {
    height: 0.8rem;
}

#password:invalid,
#passwordConfirm.no-match {
    border-color: red;
}

#password:invalid + span::after {
    content: "Passwords must be at least 8 characters.";
    color: red;
    font-size: 0.8rem;
}

#passwordConfirm.no-match + span::after {
    content: "Passwords must match.";
    color: red;
    font-size: 0.8rem;
}